.caixa
{
    background-color: #b2ebf2;
}

.titulo
{
    color: #0097a7 !important; /* !important  = diz que essa função tem mais importacia do que a configuração do material ui*/
    font-weight: bold !important;
}

.botao
{
    border-color: #fff !important;
    background: #00bcd4 !important;
    color: #fff !important;
}

.postagens
{
    background-color: #fff;
}