.box1 {
    background-color: #b2ebf2;
    height:120px;
}

.box2 {
    background-color:white;
    height:60px;
}

.redes {
    font-size: 50px !important;
    color:#263238;
}

.github {
    font-size: 40px !important;
    color:#263238;
    margin-right: 5px;
}

.social {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.social:hover
{
    filter: drop-shadow(50px 50px 50px color= purple) !important;
}

.texto1 {
    color:#546e7a;
    font-size: 18px !important;
}

.texto2 {
    color:#8a2be2;
}