.redes
{
    font-size: 30px !important;
    color: #fff;
}

.box1
{
    background-color: #00838f;
    height: 60px;
}

.box2
{
    background-color: #00838f;
    height: 50px;
}

.textos
{
    color: #fff;
}